# ===========================
# Node.js
# ===========================
**/node_modules/

# ===========================
# Environment Variables
# ===========================
**/.env

# ===========================
# Build Output
# ===========================
**/dist/

# ===========================
# Hardhat
# ===========================
**/artifacts/
**/cache/

# ===========================
# Logs
# ===========================
*.log
npm-debug.log*

# ===========================
# Operating System
# ===========================
.DS_Store
Thumbs.db

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Git
# ===========================
.git
